<span class="menu-bar">

		{{#foreach navigation}}
		<a class="{{slug}}{{#if current}} current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
		{{/foreach}}


		{{!-- <li class="menu-list-item menu-list-item-follow">
			{{#if @blog.twitter}}
			<a class="twitter" href="{{twitter_url}}" title="{{@blog.twitter}}"><i class="icon-twitter"></i></a>
			{{/if}}
			{{#if @blog.facebook}}
			<a class="facebook" href="{{facebook_url}}" title="{{@blog.facebook}}"><i class="icon-facebook"></i></a>
			{{/if}}
			
		</li> --}}
</span>